@{
    Layout = "~/Views/Shared/_Layout.cshtml"; //This view isn't using a layout page
}


<h1 style="color: red;">@Html.Raw(ViewBag.ProjectTitle)</h1>
@if (ViewBag.Requirements.Length > 0) {
    <h2>Project Requirements:</h2>
    <ul>
    @for (var i = 0; i < ViewBag.Requirements.Length; i++) {
        <li>@ViewBag.Requirements[i]</li>
    }
    </ul>
}

@if (ViewBag.Technologies.Length > 0) {
    <h2>Technologies Used:</h2>
    <ul>
    @for (var i = 0; i < ViewBag.Technologies.Length; i++) {
        <li>@ViewBag.Technologies[i]</li>
    }
    </ul>
}

